@tailwind base;
@tailwind components;
@tailwind utilities;

#hero{
  background-image: url(./../../public/study.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


#contact-section{
  background-image: url(./../../public/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;

}

#about-bg{
  background-image: url(../../public/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}